.category {
  position: relative;
  display: inline-block;
}

.category-button {
  background-color: #090c22; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 14px 24px;
  font-size: 18px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #15184b; 
}

.genre-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #080b2c; 
  box-shadow: 0px 2prgb(18, 21, 49)x rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.genre-dropdown button {
  background-color: #060a2b; 
  color: #faf8f8; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #eee; 
}

.genre-dropdown button:hover {
  background-color: #1f1061; 
}

.genre-dropdown button:last-child {
  border-bottom: none; 
}

.genre-dropdown button.active {
  background-color: #0c0b47; 
  color: #fff; 
}
