/* Recommendation.css */

.recommendation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Adjust the height as needed */
  background-color: #0c0a29;
  color:"#fff";
  overflow: hidden;
}

.music-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  max-width: 200px;
}

.music-item:hover {
  transform: scale(1.05);
}

.music-avatar img {
  width: 150px; 
  height: 200px; 
  border-radius: 20%;
  object-fit: cover;
  margin-bottom: 8px;
}

.music-title {
  font-size: 16px;
  text-align: center;
  color: #fdfcfc;
}
