/* MusicPopup.css */

.music-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 15, 54, 0.5);
  z-index: 1000;
}


.music-popup {
  background-color: #0b1536;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  max-height: 80%;
  overflow: auto;
  position: relative;
}

.music-cards {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  overflow-y: auto; /* Add this line to enable vertical scrollbar */
  max-height: calc(80vh - 140px); /* Adjust the max height as needed */


}

.music-card {
  background-color: #fff; /* White background */
  border: 1px solid #00CED1; /* Teal primary color border */
  border-radius: 10px;
  padding: 10px; /* Reduced padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(20% - 10px); /* Calculate width for four cards with gap */
  margin: 0; /* Remove default margin */
  position: relative;
}

.music-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px; /* Reduced margin */
  max-height: 150px;}

.music-card h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #333; /* Dark gray text color */

}

.music-card button {
  background-color: #0b2d52;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}


.music-popup-container {
  padding-left: 200px; /* Left padding of 250px */
  padding-top: 20px; /* Top padding of 40px */
}
