/* Home.css */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
}

.box-home {
  background-color: #000; /* Set the background color to black */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.box-cards {
  background-color: #fff; /* White background */
  border: 1px solid #00CED1; /* Teal primary color border */
  border-radius: 10px;
  padding: 10px; /* Reduced padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(25% - 20px); /* Calculate width for four cards with gap */
  margin: 0; /* Remove default margin */
}
.box-cards img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px; /* Reduced margin */
  max-height: 100px; /* Set a maximum height for the image */
}

.box-cards h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #333; /* Dark gray text color */
}

.box-cards h5 {
  margin: 5px 0; /* Reduced margin */
  font-size: 1rem;
  color: #666; /* Light gray text color */
}

.box-cards h6 {
  margin: 0;
  font-size: 0.9rem;
  color: #999; /* Lighter gray text color */
}

.box-cards a {
  color: #00CED1; /* Teal primary color */
  text-decoration: none;
  transition: color 0.3s ease-in-out;

}

.box-cards a:hover {
  color: #0099cc; /* Slightly darker shade on hover */
}

.box-cards a svg {
  font-size: 1.5rem;
  margin-top: 5px; /* Reduced margin */
}

.box-cards .share-button {
  margin-top: 5px; /* Reduced margin */
}

/* Responsive adjustments */
@media screen and (min-width: 768px) {
  .box-cards {
    width: calc(25% - 20px); /* Calculate width for four cards with gap */
  }
}
