/* Home.css */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Adjust for both top navbar and left sidebar */
  padding-left: 200px; /* Account for 200px left sidebar */
  width: calc(100% - 200px); /* Subtract 200px for sidebar */
  height: calc(100vh - 10px); /* Subtract 40px for top navbar */
  background-color: black; /* Set a background color */
}

.box-home {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  /* Use calc() to adjust for the sidebar width */
  width: 100%; /* Adjusted to take full width */
}
.fa-play {
    display: none;
    position: absolute; /* Position the icon absolutely */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Center it precisely */
    font-size: 2rem; /* Adjust the icon size as needed */
    color: black; /* Custom font color (e.g., coral) */
    z-index: 1; /* Ensure the icon is above the content */
  }



.home .music {
  font-size: 2.5rem; /* Adjust the font size as needed */
  color: #FF6F61; /* Custom font color (e.g., coral) */
  text-align: center; /* Center the text */
  margin-top: 40px; /* Add some top margin for spacing */
  font-style: italic;
  /* Add any additional styling you want */
}

.box-cards:hover .fa-play {
  /* Show the play icon when the user hovers over the card */
  display: block;
}



.box-cards {
  background-color: #fff; /* White background */
  border: 1px solid #00CED1; /* Teal primary color border */
  border-radius: 10px;
  padding: 10px; /* Reduced padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(25% - 20px); /* Calculate width for four cards with gap */
  margin: 0; /* Remove default margin */
  position: relative;

}
.box-cards img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px; /* Reduced margin */
  max-height: 150px; /* Set a maximum height for the image */
}

.box-cards h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #333; /* Dark gray text color */
}

.box-cards h5 {
  margin: 5px 0; /* Reduced margin */
  font-size: 1rem;
  color: #666; /* Light gray text color */
}

.box-cards h6 {
  margin: 0;
  font-size: 0.9rem;
  color: #999; /* Lighter gray text color */
}

.box-cards a {
  color: #00CED1; /* Teal primary color */
  text-decoration: none;
  transition: color 0.3s ease-in-out;

}


.box-cards a:hover {
  color: #0099cc; /* Slightly darker shade on hover */
}

.box-cards a svg {
  font-size: 1.5rem;
  margin-top: 5px; /* Reduced margin */
}

.box-cards .share-button {
  margin-top: 5px; /* Reduced margin */
}

/* Responsive adjustments */
/* Responsive adjustments */
@media screen and (min-width: 992px) {
  .box-cards {
    width: calc(20% - 10px); /* Calculate width for four cards with gap */
  }
}