.container {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
  background-color: rgb(0, 0, 3);
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container h2 {
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h2 button {
  background-color: rgb(3, 3, 31);
  color: white;
  border: none;
  border-radius: 50%;
  width: 10px; /* Adjust the width */
  height: 25px; /* Adjust the height */
  font-size: 14px; /* Adjust the font size */
  cursor: pointer;
  margin-left: 10px;
}

.playlist-form label,
.playlist-form textarea,
.playlist-form input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.playlist-form textarea {
  height: 80px;
}

.playlist-form button[type="submit"] {
  background-color: rgb(0, 0, 3);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.playlist-list {
  margin-top: 20px;
}

.playlist-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.playlist-item .playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-item h4 {
  margin: 0;
}

.playlist-item p {
  margin: 5px 0;
}

.playlist-item button {
  background-color: rgb(19, 22, 54);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.music-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.music-list {
  max-height: 70vh;
  overflow-y: scroll;
}

.music-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0931; /* Darker background color for music items */
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.music-item p {
  margin: 0;
}

.music-popup .music-item button {
  background-color: rgb(2, 7, 19);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the plus icon vertically */
}
.close-popup {
  background-color: rgb(11, 10, 29);
  color: white;
  border: none;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
